*,
body {
  margin: 0px;
  padding: 10px;
}
.bg-dark-green {
  background-color: #1d291f;
}

.img-gradient {
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}
