*,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
}

.bg-dark-green {
  background-color: #1d291f;
}

.bg-lang-icon {
  background-color: #f2f2f2;
}

.bg-black {
  background-color: #1f1f1f;
}

.bg-comment-gray {
  background-color: #edf1f7;
}

.bg-gray {
  background-color: #a7a7a7;
}

.bg-light-gray {
  background-color: #f8f8f8;
}

.bg-orange {
  background-color: #e84407;
}

.text-orange {
  color: #e84407;
}

.text-green {
  color: #56915d;
}

.text-gray {
  color: #6d7177;
}

.link:hover {
  color: #56915d;
}

.border-gray {
  border-color: #6d7177;
}

.border-orange {
  border: 1px solid #e84407;
}

.border-orange::placeholder {
  color: #6d7177;
}

.border-witout-focus:focus {
  outline: none;
}

.social-action:hover {
  color: #56915d;
  text-decoration: none;
}

.text-light-gray {
  color: #999999;
}

.img-icon {
  width: 50px;
}

.img-icon-30 {
  width: 30px;
}

.card-video {
  position: relative;
}

.card-video img {
  display: block;
}

.card-video i.fa-play-circle {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
}

.flag-icon {
  width: 15px;
  height: 10px;
}

.lang-icon {
  width: 30px;
}

.img-gradient {
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.logo {
  width: 220px;
}

.bg-yellow {
  background-color: #f5aa00;
}

.main-menu a {
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.main-menu a.menu-subitem {
  margin-left: 35px;
  margin-top: 5px;
}

.main-menu a.menu-item {
  margin-top: 35px;
}

.main-menu i {
  margin-right: 15px;
  color: #56915d;
}
.dropdown-show {
  background-color: #e84407;
}
::placeholder {
  color: #c3c3c3 !important;
}

.input {
  background: #2a3a2d 0% 0% no-repeat padding-box;
  border-radius: 25px;
  color: #c3c3c3;
  font-size: 14px;
  height: 50px;
  padding: 10px 20px;
  width: 70%;
  outline: none;
}

::placeholder {
  text-align: start;
  padding-left: 20px;
  color: white;
}

.login {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  padding: 0px 40px 60px 40px;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  font-size: 14px;
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.register__container--form {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.input {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-size: 16px;
  font-family: "Montserrat";
  margin-top: 20px;
  padding: 18px 0px;
  outline: none;
  height: 15px;
  width: auto;
  border: 0;
  color: #c3c3c3;
}

.inputr {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-size: 16px;
  font-family: "Montserrat";
  margin-bottom: 20px;
  padding: 18px 0px;
  outline: none;
  height: 15px;
  width: auto;
  border: 0;
  color: #c3c3c3;
}

.parag {
  margin-top: 10px;
  font-size: 12px;
}

.login__container--social-media div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  justify-content: center;
}

.login__container--register {
  font-size: 10px;
  margin-top: 0px;
  text-align: center;
}

.login__container--register a,
p {
  color: #c3c3c3;
  font-weight: bold;
  font-size: 12px;
}

.login__container--label {
  color: #c3c3c3 !important;
}

.btn {
  border-radius: 25px;
  margin-top: 20px;
}

.btn-criar {
  background-color: #56915d;
  border: none;
  color: #c3c3c3;
  font-family: "Montserrat", Bold;
}

.btn-drop{
  background-color: #2A3A2D 0% 0% no-repeat padding-box;;
  border: none;
  color: #c3c3c3;
  margin: 0;
}

.btn-google {
  background-color: #e84407;
  border: none;
  color: #c3c3c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn-login {
  background-color: #56915d;
  border: none;
  color: #c3c3c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn-facebook {
  background-color: #476bb0;
  border: none;
  color: #c3c3c3;
  font-family: "Montserrat";
  margin-top: 20px;
}
.hr {
  color: white;
}

.logo {
  width: 140px;
  display: block;
  margin: auto;
}

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.card {
  box-shadow: 5px 5px 15px #0000001a;
}

.br-15 {
  border-radius: 15px !important;
}

.notif-shadow {
  box-shadow: 0px 0px 15px #0000001a;
}

.notif-img {
  width: 40px;
}

.parag {
  margin-bottom: 0;
  text-align: center;
  color: #c3c3c3;
  font-size: 7px;
}

.criar {
  color: white;
}

.check {
  color: #c3c3c3 !important;
}

.opacity{
  opacity: 1;
  background: #00000080 0% 0% no-repeat padding-box;
  opacity: 20;
}

.moda{
  border-radius: 25px;
}

.modal-header{
  border: none;
}

.modal-content {

border-radius: 25px;
border: none;
}

.modal-body {
text-align: center;
font-size: 12px;
font-family: "Montserrat";
letter-spacing: 0px;
color: #6D7177;
border: none;
padding-left: 60px;
padding-right: 60px;
border-radius: 25px;
}

.modal-body p{
text-align: center;
font-size: 12px;
font-family: "Montserrat";
letter-spacing: 0px;
color: #6D7177;
border: none;
}

.modal-title{
  color: #56915D;
  size: 20px;
  text-align: center;
  font-weight: bold;
  padding-left: 97px;
  padding-right: 80px;
  padding-top: 20px;
}

.modal-footer{
 border: none;
 padding-top: 0px;
 padding-bottom: 30px
}
.modal-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-btn-configurar{
    background-color: #56915D;
    color: white;
    font-size: 10px;
    width: 170px;
    margin-left: 60px;
    font-weight: bold;
    font: "Montserrat"
}

.modal-btn-conhecer{
    background-color: white;
    border-color:  #56915D;
    color:  #56915D;
    font-size: 10px;
    width: 170px;
    margin-right: 60px;
    font-weight: bold;
     font: "Montserrat"
    
}

.modal-body-subtitle{
    size: 20px;
    margin: 0px;
    margin-top: -25px;
    margin-bottom: 20px;
    color: #6D7179;
    font: "Montserrat";
    font-weight: bold;
    padding-right: 20px;
    
}

.profile1{
text-align: left;
letter-spacing: 0px;
color: #E84407;
opacity: 1;
font-weight: bold;
margin-top: 60px;
}

.container-step{
  width: 100%;
  padding-bottom: 30px;
  padding-left: 15px;
}
.progressbar{
  counter-reset: step;

}
.progressbar li{
  list-style-type: none;
  float: left;
  width: 33.3%;
  position: relative;
}

.progressbar li:before{
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0;
  margin-right: 200px;
  border-radius: 50%;
  background-color: white;


 
}


.progressbar li:after{
  content: '';
   position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: 0%;
  z-index: -1;
}


.progressbar li.active{
  color: #56915D;
  
}

.progressbar li.active:before{
  border-color: #56915D;
}


.progressbar li.active::after{
  background-color: #56915D;
}


.step-styles{
  font-size: 12px;
  color: #B9B9B9;
  font-family: "Montserrat";
  font-weight: bold;

}

.radio-styles h5{
  color:#6D7177;
  font-size: 18px;
    font-family: "Montserrat";
  font-weight: bold;
  margin: 0;

}

.label-styles {
  color:#707070;
  font-family: "Montserrat";
  font-weight: medium;
  font-size: 16px;

}

/* separacion de los radios*/

.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 1.90rem;
  }

.content-radios{
  padding-bottom: 15px;
}

.profile-btn-salvar{
    background-color: #56915D;
    color: white;
    font-size: 10px;
    width: 100px;
    height: 35px;
    font-weight: bold;
    font: "Montserrat"
}

.profile-btn-ferramenta{
 
    background-color: white;
    border-color:  #56915D;
    color:  #56915D;
    font-size: 10px;
    width: 270px;
    height: 35px;
    margin-left: -50px;
    font-weight: bold;
     font: "Montserrat"
}

.icon-play{
  margin: 5px;
}
@media (min-width: 992px) {
  .pl-2em {
    padding-left: 2em;
  }
}
