*,
body {
  margin: 0px;
  padding: 0px;
}
.bg-dark-green {
  background-color: #1d291f;
}

.img-gradient {
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.dropdown-show{
  background-color: #E84407;
}
::placeholder{
  color :#C3C3C3 !important;
}

.input {
  background: #2A3A2D 0% 0% no-repeat padding-box;
  border-radius: 25px;
  color: #C3C3C3;
  font-size: 14px;
  height: 50px;
  padding: 10px 20px;
  width: 70%;
  outline: none;
  
}

::placeholder {

  text-align: start;
  padding-left: 20px;
  color: white;
}

.login {
 
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  padding: 0px 40px 60px 40px;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
  
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  font-size: 14px;
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.register__container--form {
  display: flex;
  flex-direction: column;
  height: 400px;
  
}

.input {
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-size: 16px;
  font-family: "Montserrat";
  margin-top: 20px;
  padding: 18px 0px;
  outline: none;
  height: 15px;
  width: auto;
  border: 0;
  color: #C3C3C3;

}

.inputr{
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-size: 16px;
  font-family: "Montserrat";
  margin-bottom: 20px;
  padding: 18px 0px;
  outline: none;
  height: 15px;
  width: auto;
  border: 0;
  color: #C3C3C3;

}

.parag{
  margin-top: 10px;
  font-size: 12px;
}

.login__container--social-media div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  justify-content: center;
}

.login__container--register {
  font-size: 12px;
  margin-top: 0px;
  text-align: center;

  
}

.login__container--register a, p {
  color: #C3C3C3;
  font-weight: bold;
  font-size: 16px;

}

.login__container--label{
  color: #C3C3C3 !important;
}

.btn{
  border-radius: 25px;
  margin-top: 20px;
}

.btn-criar{
  background-color: #56915D;
  border: none;
  color: #C3C3C3;
  font-family: "Montserrat", Bold;
}
.btn-secondary{
  background-color: red;
  border: none;
  color: #C3C3C3;
  margin: 0;
}
.btn-drop{
  background-color: #2A3A2D 0% 0% no-repeat padding-box;;
  border: none;
  color: #C3C3C3;
  margin: 0;
}

.btn-google{
  background-color:  #E84407;
  border: none;
  color: #C3C3C3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}


.btn-login{
  background-color:  #56915D;
  border: none;
  color: #C3C3C3;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn-facebook{
  background-color: #476BB0;
  border: none;
  color: #C3C3C3;
  font-family: "Montserrat";
  margin-top: 20px;
}
.hr{
  color: white;
}

.logo{
  width: 140px;
  display:block;
margin:auto;
}

.scroll
{
     overflow-x:scroll;
     overflow-y:hidden;
}

.parag{
  margin-bottom: 0;
  text-align: center;
  color:#C3C3C3;
  font-size: 8px;
}

.criar{
  color: white;

}

.check{
  color: #C3C3C3 !important;
}
